.container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
    height: 100vh;
   
}
.dec , .inc {
    border: 2px solid black ;
    padding: 10px 15px;
    font-weight: 600;
    background-color: #fff;
    

}